#eantifonar-container { border: 1px dotted black; padding: 5px; font-size: small; }
#eantifonar-container span { margin: 0 20px; }

a.eantifonar-image-link { border-style: none; }
a.eantifonar-image-link:hover { background-color: transparent; }

.eantifonar-music-not-found { border-left: 20px solid fuchsia !important; border-right: 20px solid fuchsia !important; }
